.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.aric {
  max-width: 100%;
  height: auto;
}

button {
  margin-left: 4px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page-recipe-img {
  width: 500px;
  height: 500px;
}

.not-found-icon {
  font-size: 50px;
  display: flex;
  left: 25%;
  top: 40%;
}

.line {
  background-color: #8f7be1;
  width: 400px;
  height: 2px;
  opacity: 0.4;
}

.not-found-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-empty-message {
  display: flex;
  justify-content: center;
}

.recipe-page-btn {
  margin-top: 10px;
}

.edit-btn {
  margin-left: 15px;
  margin-top: 10px;
}

.card-img-top {
  width: 100%;
  height: 340px;
}

.cover-img {
  object-fit: cover !important;
}

.contain-img {
  object-fit: contain !important;
}

.ingredient-delete {
  background: transparent;
  border: none;
  font-size: 12px;
  transition: font-size 1s;
}
.ingredient :hover {
  font-size: 15px;
  transition: font-size 1s;
}

.results {
  direction: RTL;
  margin: 14px 0px;
  position: relative !important;
  left: 25%;
  width: 50%;
}

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

li {
  margin-top: 5px;
  margin-left: 2rem;
}

label {
  margin-top: 10px;
}

.instructions-text {
  white-space: pre-line;
  direction: RTL;
}

.items-in-row {
  display: flex;
}

.input-group {
  width: 50% !important;
  left: 25%;
  margin-bottom: 10px;
}

label {
  left: 25%;
  position: relative !important;
}

.submit-btn {
  left: 25% !important;
  position: relative;
  margin-top: 10px;
}

.align-user-to-right {
  justify-content: space-between !important;
}

.hello-msg {
  color: white;
  margin-right: 1px;
}

.main-logo {
  margin-left: 10px;
}

.navbar-right-side {
  margin-right: 10px;
}

.loader {
  justify-content: center;
  display: flex;
  margin-top: 55px;
}
.align-center {
  justify-content: center;
  display: flex;
}

.add-ing {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.checked {
  text-decoration-line: line-through;
}

.review-card {
  height: 160px;
}

.section {
  margin-top: 1.7rem;
}

.add-ingredients {
  margin-right: 15rem !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container .like-btn {
  position: relative;
  border-radius: 25px;
  top: 7%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: white;
  font-size: 25px;
  padding: 0px 6px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}

svg {
  margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  /* ::-webkit-resizer {
    border: 2px solid black;
    background: red;
    box-shadow: 0 0 5px 5px blue;
    outline: 2px solid yellow;
  } */

  textarea:focus {
    height: 400px;
  }
}
